# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.json
crash.log
crash.*.log
.generated/

# Node
app/node_modules/
app/dist/
npm-debug.log*

# Env
.env
.env.*

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
